body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: url('Logo.png') no-repeat center;
  background-size: contain;
  opacity: 0.25;
  z-index: 0;
  animation: floatLogo 6s ease-in-out infinite;
}